In [1]:
class Planet:
    size_mi = 0
    atmosphere = 'air'

In [2]:
mars = Planet()

In [5]:
mars.atmosphere, mars.size_mi

('air', 0)

In [6]:
mars.size_mi = 5

In [7]:
mars.size_mi

5

In [8]:
neptune = Planet()

In [10]:
neptune.size_mi + mars.size_mi

5

In [ ]:
class Planet:
    shape = 'round'
    
    def __init__(self, size_mi, sun_delta, atmosphere=None):
        self.size_mi = size_mi
        self.atmosphere = atmosphere
        self._unicorns = True
        self.sun_delta = sun_delta
    
    def calc_orbit(self):
        result = self.size_mi - self.sun_delta
        self.llamas = result ** self.size_mi
        return result

In [ ]:
venus = Planet(2, 9999999999, atmosphere='fire')

In [ ]:
venus.sun_delta

In [ ]:
venus.calc_orbit()

In [ ]:
venus.llamas

In [ ]:
kieran_str = 'Kieran-Prasch-8456331959-kieranprasch@gmail.com'
Person.from_string(kieran_str)

In [15]:
class Person(object):
    """
    Base Class for people.
    """

    def __init__(self, first_name, last_name, phone_number, email):
        self.firstname = first_name
        self.lastname = last_name
        self.phone_number = phone_number
        self.email = email
        
    def __str__(self):
        return "{0.firstname} {0.lastname}".format(self)
    
    def __repr__(self):
        return '{0.__class__.__name__}({0.firstname}, {0.lastname}, {0.phone_number}, {0.email})'.format(self)

        
    @property
    def full_name(self):
        return "{} {}".format(self.firstname, self.lastname)
    
    @classmethod
    def from_string(Klass, person_string):
        # 'Kieran-Prasch-8456331959-kieranprasch@gmail.com'
        #     0      1        2              3     
        # Sequence Assignment
        first, last, phone, email = person_string.split('-')
        # Call the constructor of the class with the parsed name data.
        return Klass(first, last, phone, email)

        
class Employee(Person):
    '''
    A subclass of Person.
    '''
    active_employees = list()
    
    
    def __init__(self, position, income, *args, **kwargs):
        self.position = position
        self.income = income
        super(Employee, self).__init__(*args, **kwargs)
    
    @classmethod
    def hire(Klass, emp):
        Klass.active_employees.update([emp])
        return "Added {} to the employee roster.".format(emp.full_name)
        
    
    
class Developer(Employee):
    '''
    A subclass of Employee.
    '''
    pass

    def __init__(self, languages, *args, **kwargs):
        super().__init__(*args, **kwargs)
    
class Manager(Developer):
    '''
    A subclass of Developer.
    '''
    pass
    
    def __init__(self, crew=None, *args, **kwargs):
        if crew is None:
            crew = list()
        else:
            self.crew = crew
        super().__init__(*args, **kwargs)

In [17]:
bella = Developer(['python', 'php', 'matlab', 'R'], 'scientist', 70000, 'Bella', 'Brielle', 9447614726, 'myjamz72@aol.com')

In [18]:
gabby = Developer(['python', 'javascript'], 'engineer', 70000, 'Gabby', 'Moore', 5551216789, 'info@aol.com')

In [19]:
emps = [gabby, bella]
rolando = Manager(emps, ['python', 'javascript'], 'manager', 100000, 'Rolando', 'Finsard', 9084638876, 'arkl@hotmail.com')

In [20]:
str(rolando.crew[0])

'Gabby Moore'

In [24]:
emp1 = rolando.crew[0]
emp2 = rolando.crew[1]

In [27]:
Employee.hire(emp1)

'Added Gabby Moore to the employee roster.'

In [28]:
Employee.hire(emp2)

'Added Bella Brielle to the employee roster.'

In [29]:
rolando.active_employees

{Developer(Bella, Brielle, 9447614726, myjamz72@aol.com),
 Developer(Gabby, Moore, 5551216789, info@aol.com)}

In [30]:
len(Employee.active_employees)

2

In [31]:
gabby = Developer(['python', 'javascript'], 'engineer', 70000, 'Gabby', 'Moore', 5551216789, 'info@aol.com')

In [32]:
gabby

Developer(Gabby, Moore, 5551216789, info@aol.com)