In [21]:
the_date = '2012/09/18 23:40:00'
another_date = '2013/09/12 2:00:32'

In [22]:
from datetime import datetime

In [23]:
the_date = datetime.strptime(the_date, '%Y/%m/%d %H:%M:%S')
another_date = datetime.strptime(another_date, '%Y/%m/%d %H:%M:%S')

In [24]:
the_date.ctime()

'Tue Sep 18 23:40:00 2012'

In [25]:
the_date.month

9

In [26]:
datetime.strftime(the_date, '%M %Y 5b llamas %H ')

'40 2012 5b llamas 23 '

In [27]:
the_date.month

9

In [28]:
the_date.minute

40

In [42]:
delta = str(another_date - the_date)

In [43]:
delta

'358 days, 2:20:32'

In [44]:
another_date >= the_date

True

In [57]:
def date_time():
    the_date = '2013/02/02 15:08:22'
    another_date = '2013/02/03 15:08:22'

    the_date = datetime.strptime(the_date, '%Y/%m/%d %H:%M:%S')
    another_date = datetime.strptime(another_date, '%Y/%m/%d %H:%M:%S')

    delta = (another_date - the_date)

    print(delta.seconds)
    print(delta // 60)
    

date_time()

0
0:24:00

In [46]:
delta

'358 days, 2:20:32'

In [60]:
def date_time():
    time_stamp = list()
    
    clock_in = datetime.now()
    time_stamp.append(clock_in)
    
    clock_out = datetime.now()
    time_stamp.append(clock_out)

#     time_in = datetime.strptime(the_date, '%Y/%m/%d %H:%M:%S')
#     time_out = datetime.strptime(another_date, '%Y/%m/%d %H:%M:%S')

    delta = (clock_out - clock_in)

    print(delta.seconds)
    
    print(delta // 60 // 60)

date_time()

0
0:00:00