In [66]:
the_date = '2012/09/18 23:40:00'
another_date = '2013/09/12 2:00:32'

In [67]:
from datetime import datetime

In [68]:
the_date = datetime.strptime(the_date, '%Y/%m/%d %H:%M:%S')
another_date = datetime.strptime(another_date, '%Y/%m/%d %H:%M:%S')

In [69]:
the_date.ctime()

'Tue Sep 18 23:40:00 2012'

In [70]:
the_date.month

9

In [71]:
datetime.strftime(the_date, '%M %Y 5b llamas %H ')

'40 2012 5b llamas 23 '

In [72]:
the_date.month

9

In [73]:
the_date.minute

40

In [74]:
delta = the_date - another_date

In [76]:
delta

datetime.timedelta(-359, 77968)

In [77]:
str(delta)

'-359 days, 21:39:28'

In [78]:
another_date >= the_date

True

In [79]:
datetime.strptime

In [80]:
def date_time():
    the_date = '2012/09/18 23:40:00'
    another_date = '2013/09/12 2:00:32'

    the_date = datetime.strptime(the_date, '%Y/%m/%d %H:%M:%S')
    another_date = datetime.strptime(another_date, '%Y/%m/%d %H:%M:%S')

    delta = str(the_date - another_date)

    print(delta)

date_time()

-359 days, 21:39:28