In [15]:
from collections import Counter

In [16]:
from itertools import groupby

In [17]:
names = {'Alyssa': 22,
         'Charley': 25,
         'Dan': 25,
         'Jeff': 20,
         'Kasey': 20,
         'Kim': 20,
         'Morgan': 25,
         'Ryan': 25,
         'Stef': 22 }

In [18]:
sorted(names.items(), key= lambda t: t[1])

[('Kim', 20),
 ('Jeff', 20),
 ('Kasey', 20),
 ('Stef', 22),
 ('Alyssa', 22),
 ('Morgan', 25),
 ('Dan', 25),
 ('Charley', 25),
 ('Ryan', 25)]

In [19]:
list(groupby(names, key=lambda t: t[1]))[0]

('o', <itertools._grouper at 0x17e037e4a20>)

In [20]:
c = Counter(names.values())

In [21]:
list(groupby(sorted(names.values())))

[(20, <itertools._grouper at 0x17e037e4908>),
 (22, <itertools._grouper at 0x17e037ea240>),
 (25, <itertools._grouper at 0x17e037ea278>)]

In [22]:
c.most_common()[-1]

(22, 2)

In [ ]:
zip(dict)