In [4]:
import json
import requests
import bs4
from pandas import pandas as pd
# import html5lib
import matplotlib.pyplot as plt

In [5]:
my_request = requests.get('https://or.water.usgs.gov/non-usgs/bes/fernwood.rain')

In [6]:
headers = ['Date', 'Daily Total'] + list(range(0, 24))

In [7]:
df = pd.read_csv('https://or.water.usgs.gov/non-usgs/bes/fernwood.rain', delim_whitespace=True, header=9, names=headers)

In [15]:
df.sort

<bound method DataFrame.sort of              Date Daily Total
0     08-FEB-2017         111
1     07-FEB-2017          10
2     06-FEB-2017          12
3     05-FEB-2017         238
4     04-FEB-2017         140
5     03-FEB-2017           1
6     02-FEB-2017           0
7     01-FEB-2017           0
8     31-JAN-2017           2
9     30-JAN-2017           0
10    29-JAN-2017           1
11    28-JAN-2017           0
12    27-JAN-2017           0
13    26-JAN-2017           3
14    25-JAN-2017           1
15    24-JAN-2017           0
16    23-JAN-2017           0
17    22-JAN-2017          15
18    21-JAN-2017          36
19    20-JAN-2017          28
20    19-JAN-2017           0
21    18-JAN-2017         121
22    17-JAN-2017          47
23    16-JAN-2017           0
24    15-JAN-2017           1
25    14-JAN-2017           0
26    13-JAN-2017           0
27    12-JAN-2017          18
28    11-JAN-2017           3
29    10-JAN-2017          14
...           ...         ...
6712  24-SEP-1998          13
6713  23-SEP-1998           0
6714  22-SEP-1998           0
6715  21-SEP-1998           0
6716  20-SEP-1998           0
6717  19-SEP-1998           3
6718  18-SEP-1998          60
6719  17-SEP-1998           2
6720  16-SEP-1998           0
6721  15-SEP-1998           0
6722  14-SEP-1998           0
6723  13-SEP-1998           0
6724  12-SEP-1998           0
6725  11-SEP-1998           0
6726  10-SEP-1998           0
6727  09-SEP-1998           0
6728  08-SEP-1998           0
6729  07-SEP-1998           0
6730  06-SEP-1998           0
6731  05-SEP-1998           0
6732  04-SEP-1998           0
6733  03-SEP-1998           0
6734  02-SEP-1998           0
6735  01-SEP-1998           0
6736  31-AUG-1998           0
6737  30-AUG-1998           0
6738  29-AUG-1998           0
6739  28-AUG-1998           0
6740  27-AUG-1998           0
6741  26-AUG-1998           0

[6742 rows x 2 columns]>

In [8]:
df = df.iloc[:, 0:2]

In [9]:
df.describe()

               Date Daily Total
count          6742        6742
unique         6742         161
top     05-FEB-2002           0
freq              1        3727

In [10]:
df_range = df[-df['Daily Total'].isin(['-'])]

In [11]:
df_range['Daily Total'] = df_range['Daily Total'].apply(int)

C:\Users\Anders\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [12]:
df_range.max()

Date           31-OCT-2016
Daily Total            261
dtype: object